html {
    margin-top: -10px;
}

body {
    font-family: Verdana, Geneva, sans-serif; 
    font-size: 16px;
    background-color: #398AB9;
}

.header-wrapper, .content-wrapper, .footer-wrapper{
    background-color: #EEEEEE;
    width: 950px;
    margin: auto; 
}

/* Header - Use the image tag to add the image and position the site title on top of it */
.banner {
    position: relative;
    margin: 0 auto;
}
img {
    width: 100%;
}
header h1 {
    font-size: 2.5rem;
    font-weight: 200;
    color: #FFFFFF;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 15%;
}
.navigation > ul {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 530;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding-left: 0px;
    margin-bottom: 20px;
 }

.navigation > ul > li {
padding-left: 55px;
padding-right: 55px;
}

.navigation {
display: flex;
justify-content: center;
}

.navigation :hover {
color:#398AB9;
}

a {
text-decoration: none;
}

/* Article - Image should have the text wrapping around it */
.story {
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 1rem;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    z-index: 1;
    position: relative;
}

main {
    padding: 0px;
    border-left: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

h2 {
    font-size: 2.2rem;
    font-weight: 200;
    margin-bottom: 5px;
    margin-block-start: 0px;
}

.container p {
    padding-right: 5px;
    margin: 0px;
}

main section .container img {
    width: 250px;
    height: 250px;
    float: left;
    padding-top: 3px;
    padding-right: 20px;
}

h3 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    font-weight: 100;
}

/* Facts - Use proper syntax for listing the facts */
.products {
    margin: 0px;
}

.products li {
    line-height: 1;
    margin: 0px;
    margin-left: -20px;
}

div .contact-form {
    padding: 15px;
    line-height: 2;
    border: 1px solid black;
}

h4 {
    font-size: 1.2rem;
    font-weight: 200;
    margin: 8px;
    margin-left: 0px;   
}

.send-button {
    width: 50px;
    height: 35px;
    border: 1px solid black;
    padding: 0px;
    margin: 10px;
    margin-left: 0px;
}

.send-button {
    display: block;
    background-color:#EEEEEE;
    color: black;
    transition-duration: 0.4s;
    cursor: pointer;

}

.send-button:hover {
    background-color: #398AB9;
    color: white;
}

footer {
    text-align: right;
    padding: 15px;
    padding-bottom: 20px;
    padding-right: 30px;
}

input[type='text'], input[type='email'], textarea {
    width: 100%;
}